{% extends "base.jinja2" %}
{% block absolute_link %}
    <a href="http://localhost:8000/index.html">Absolute link to index.html</a>
{% endblock %}
{% block relative_link %}
    <a href="../index.html">Relative link to index.html</a>
{% endblock %}
