{% extends "base.jinja2" %}
{% block absolute_link %}
    <a href="http://localhost:8000/about/aboutme.html">Absolute link to aboutme.html</a>
{% endblock %}
{% block relative_link %}
    <a href="about/aboutme.html">Relative link to aboutme.html</a>
{% endblock %}
